.container{
        display: grid;
        grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr;
        grid-auto-rows: 2em;
}

/*
.container > div:hover{
        background-color: greenyellow;
}
*/